$btn-colors: #002224;
$btn-pressed:#0B544D;
$btn-onHover: #001214;
$border-color: #002A2C;
@mixin container-position {
  top: 0%;
  bottom: 20%;
  left: 20%;
  right: 20%;
}
@mixin top-btns {
  position: relative;
  box-shadow: 0 6px #021C1D;
  width: 25vw;
  height: 15vh;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  font-size: 4vmin;
}
@mixin counter-box {
  position: absolute;
  background-color: black;
  font-size: 15vmin;
  border-style: solid;
  border-width: 5px;
  border-color: $border-color;
  width: 100%;
  height: 30vh;
  line-height: 30vh;
}
@mixin counter-numbers {
  position: relative;
  display: inline-block;
  color: white;
  list-style: none;
  user-select: none;
}
@mixin bottom-btns {
  position: absolute;
  font-size: 2vmax;
  color: white;
  background-color: $btn-colors;
  box-shadow: 0 6px #021C1D;
  top: 40vh;
  width: 20vw;
  height: 7vh;
  border-radius: 40px;
}

body {
  * {
    padding: 0;
    margin: 0;
    border: 0;
  }
  background-image: url('../../images/dark-green.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  overflow: hidden;
  .App {
    .counter {
      position: absolute;
      @include container-position();
      #top-part {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 50%;
        .timer-btn {
          @include top-btns();
          background-color: $btn-colors;
          top: 40%;
            p {
              color: white;
            }
        }
        .timer-btn:hover {
          background-color: $btn-onHover;
        }
        .timer-btn:focus {
          outline: 0;
        }
        .timer-btn-pressed {
          @include top-btns();
          background-color: $btn-pressed;
          top: 45%;
            p {
              color: white;
            }
        }
        .timer-btn-pressed:hover {
          background-color: $btn-onHover;
          p {
            color: white;
          }
        }
        .timer-btn-pressed:focus {
          outline: 0;
        }
        .stopwatch-btn {
          @include top-btns();
          top: 40%;
          background-color: $btn-colors;
          right: -6vw;
            p {
              color: white;
              display:block;
              width:100%;
           }
        }
        .stopwatch-btn:hover {
          background-color: $btn-onHover;
        }
        .stopwatch-btn:focus {
          outline: 0;
        }
        .stopwatch-btn-pressed {
          @include top-btns();
          top: 45%;
          right: -6vw;
          background-color: $btn-pressed;
          word-break: break-all;
            p {
              color: white;
              width:100%;
           }
        }
        .stopwatch-btn-pressed:hover {
          background-color: $btn-onHover;
          p {
            color: white;
          }
        }
        .stopwatch-btn-pressed:focus {
          outline: 0;
        }
      }
      #bottom-part {
        position: relative;
        height: 10rem;
        border-radius: 2%;
        .timer {
          @include counter-box();
          ul {
            text-align: center;
            li {
              @include counter-numbers();
              .fa-sort-up {
                position: absolute;
                top: 10%;
                text-align: center;
                left: 25%;
                font-size: 10vmin;
              }
              .fa-sort-down {
                position: absolute;
                bottom: 10%;
                text-align: center;
                left: 25%;
                font-size: 10vmin;
              }
            }
          }
        }
        .stopwatch {
          @include counter-box();
          ul {
            text-align: center;
            li {
              @include counter-numbers();
            }
          }
        }
        .start-pause-btn {
          @include bottom-btns();
          left: 0vw;
        }
        .start-pause-btn:focus {
          outline: 0;
        }
        .start-pause-btn:active {
          background-color: $btn-colors;
          box-shadow: 0 6px #021C1D;
          transform: translateY(10px);
        }
        .reset-btn {
          @include bottom-btns();
          right: 0vw;
        }
        .reset-btn:active {
          background-color: $btn-colors;
          box-shadow: 0 6px #021C1D;
          transform: translateY(10px);
        }
        .reset-btn:focus {
          outline: 0;
        }
      }
    }
  }
}