@mixin container-position {
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
}
@mixin counter-position {
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 30%;
}
body {
  * {
    padding: 0;
    margin: 0;
    border: 0;
  }
  background-color: #0A6BF0;
  color: white;
  .App {
    .timeBox-container {
      position: absolute;
      @include container-position();
      #top-part {
        height: 50%;
        background-color: black;
        display: grid;
        grid-template-columns: 50% 50%;
        .timer-btn {
          position: relative;
          width: 50%;
          height: 20%;
          border-radius: 5%;
          top: 70%;
          left: 20%;
        }
        .stopwatch-btn {
          position:relative;
          height: 20%;
          left: 5%;
          width: 50%;
          border-radius: 5%;
          top: 70%;
        }
      }
      #bottom-part {
        position: relative;
        height: 50%;
        background-color: red;
        .timer {
          position: absolute;
          background-color: green;
          @include counter-position();
          ul {
            display: flex;
            li {
              flex: 33.3%;
              text-align: center;
              // display: inline;
              list-style: none;
              height: 20px;
              line-height: 20px;
            }
          }
        }
        .stopwatch {
          position: absolute;
          background-color: green;
          @include counter-position();
          ul {
            display: flex;
            li {
              flex: 33.3%;
              text-align: center;
              // display: inline;
              list-style: none;
              height: 20px;
              line-height: 20px;
            }
          }
        }
        .start-pause-btn {
          position: absolute;
          bottom: 10%;
          left: 10%;
          width: 15%;
          height: 15%;
          border-radius: 5%;
        }
        .stop-btn {
          position: absolute;
          bottom: 10%;
          left: 42.5%;
          width: 15%;
          height: 15%;
          border-radius: 5%;
        }
        .reset-btn {
          position: absolute;
          bottom: 10%;
          right: 10%;
          width: 15%;
          height: 15%;
          border-radius: 5%;
        }
      }
    }
  }
}